<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="public/images/dogecl-avatar.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Doge CL</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://twitter.com/hizoka_andou" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/mrhizoka" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/dogecl.gif/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.twitch.tv/doge_cl" class="twitch" target="_blank"><i class="bx bxl-twitch"></i></a>
        <a href="https://www.linkedin.com/in/alejandro-cl/?locale=en_US" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a> -->
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Start</span></a></li>
        <li><a href="/#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Player</span></a></li>
        <li><a href="/#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Level Selection</span></a></li>
        <li><a href="/#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Gallery</span></a></li>
        <li><a href="/services" class="nav-link scrollto"><i class="bx bxl-visual-studio"></i> <span>Services</span></a></li>
        <li><a href="https://www.linkedin.com/in/alejandro-cl/?locale=en_US" class="nav-link scrollto" target="_blank"><i class="bx bxs-face"></i> <span>Resume/Experience</span></a></li>
        <li><a href="/contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact me</span></a></li>
        <li><a href="/login" class="nav-link scrollto"><i class="bx bx-key"></i> <span>Private Area login</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->